.vertical-center{
    position: relative;
    top: 100%;
    transform: translateY(50%); 

}
.round{
	border-radius: 10px
}
#result-box {
	background-color: green;
	padding-bottom: 10px;
	color: black;

}