<html>
	<head>
		<title>Vue Project 1</title>
		<script src="./js/vue.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/toggle-sliders.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
	<div id="app" class="container">
		<div >
			<div>
				<h1>{{title}}</h1>
			</div>
			<div>
			<div class="row">
			<div class="container">
				<div class="col-sm-5">
				<div v-for="parameter in parameters">

					<div class="container">
					<div class="row">
					<div class="col-sm-3">
					<h4>
						{{parameter.name}}
					</h4>
					<h6>
						{{parameter.text}}
					</h6>
					</div>
					<div class="col-sm-2 ">
					<div class="row">
					<div class=" vertical-center">
					<label class="switch">
					<input type="checkbox" v-model="parameter.checked">  <div class="slider round"></div>
					</label>
					</div>
					</div>
					</div>
					</div>
					</div>
					</div>
				</div>
				<div id="result-box" class="col-sm-4 round">
					<div>
					<h4> Hasbled score is: {{hasbledScore}}</h2>
					</div>
					<div>
					{{showResult}}
					</div>
				</div>
			</div>
			</div>

			</div>
		</div> <!-- END OF col-sm-6 -->
	</div>	<!-- END OF CONTAINER -->
		
		<script>
			new Vue({
				el: '#app',
				data:{
					title: "Hasbled score calculator", 
					score: 0,
					result: ["Anticoagulation should be considerd. Patient has a low risk for major bleeding.",
					"Anticoagulation can be considerd, however patient has a moderate risk for major bleeding.", 
					"Anticoagulation should be avoided. Patient has a high risk for major bleeding."],
					parameters:  [
						{name: "Hypertension", text: 'SBP > 160mmHg', checked: false},
						{name: 'Abnormal renal function', text: 'Dialysis, transplant, Cr>2.26mg/dL or >200umol/L', checked: false},
						{name: 'Abnormal liver function', text: 'Cirrhosis or Bilirubin >2x normal or AST/ALT/AP>3x Normal', checked: false},
						{name: 'Stroke', text: 'Prior history of stroke', checked: false},
						{name: 'Bleeding', text: 'Prior major bleeding or predisposition to bleeding', checked: false},
						{name: 'Labile INR', text: 'TIme in therapeutic INR <60%', checked: false},
						{name: 'Elderly', text: 'Age > 65y', checked: false},
						{name: 'Alcohol & Drugs', text: 'History of drugs or alcohol use (>7 drinks/week)', checked: false},
						{name: 'Medications', text: 'Use of medication predisposing to bleeding (Antiplatlets, NSAIDs)', checked: false} ]
					},
					computed: 
						{
						hasbledScore: function() 
							{
							this.score = 0;
							for (var i=0; i < this.parameters.length; i++) 
								{
								var obj = this.parameters[i];
								if (Object.values(obj)[2]) {
									this.score++
									}
								}
								return this.score;


							},
						showResult: function()
							{
								if (this.score < 2){
									document.getElementById("result-box").style.backgroundColor = "green";
									return this.result[0];
									}
								else if (this.score == 2)
									{ document.getElementById("result-box").style.backgroundColor = "orange";
										return this.result[1];
									}
								else
								 { document.getElementById("result-box").style.backgroundColor = "red";
								 	return this.result[2];
								}
							}


						}
					
			
				});
		</script>
	</body>




</html>